@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


@if (!Model.Any())
{
    <p>There is no customers in the list</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead><tr><th>Customers List</th></tr></thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", new { id = customer.Id }, null)</td>
            </tr>
        }
        </tbody>
    </table>
    @*<ul>
        @foreach (var customer in Model)
        {
            <li>@Html.ActionLink(customer.Name, "Detals", new { id = customer.Id }, null)</li>
        }
        </ul>
    *@
}
