@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<p>There are 2 buttons from difference code.</p>
@Html.ActionLink("New Customer", "New", null, new { @class = "btn btn-default", @type = "button" }) &nbsp;

<a class="btn btn-primary" type="button" href="@Url.Action("New","Customer")">New Customer</a>

@if (!Model.Any())
{
    <p>There is no customers in the list</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead><tr>
            <th>Customers List</th>
            <th>Membership Type</th>
        </tr></thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
        </tbody>
    </table>
    

}
